

.movie {
    margin-top: 15px;
    max-width: 300px;
    max-height: 400px;
    color: white;
    background: #111111;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px, 5px, 20px, grey;
}

.movie-title{
    font-size: medium;
    font-weight: 400;
}

.movie_poster {
    max-width: 150px;
    max-height: 200px;
}

.imageBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    font-weight: 200;
    margin: 10px;
    color: white;
    border-radius: 5px;
    background-color: rgb(18, 18, 187);
    border: solid;
    border-color: rgb(18, 18, 187), rgb(18, 18, 190), rgb(20, 19, 190);
}